{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>HIVseqDB | Home</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
{% endblock %}

{% block content %}

{% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
<!-- The home cards -->
    <div class="row mt-3 pt-3 p-3 border-bottom border-info">
        <h1><i class="fa fa-home" aria-hidden="true">&nbsp</i>HIVseqDB</h1>
    </div> 
    <div class="row pt-2 mb-5 p-2 shadow">    
        <p>Portable resource for management and analysis of NGS-based HIV Drug Resistance Data</p>
    </div>
    <div class="row border p-5 shadow">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> <i class="fa fa-database" aria-hidden="true"></i>
                        &nbsp Data management</h4>
                    <p class="card-text">Secure management of uploaded NGS data, matched with sample data.
                        HIVseqDB provides a searchable database protected through user authentification.
                    </p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#management">
                        More
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="management" tabindex="-1" role="dialog" aria-labelledby="management" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="management">Data management</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <p>The storage system of HIVseqDB is configured with precision: Next Generation Sequencing (NGS) data 
                                is allocated to the file system, whereas demographics and clinical data find their repository 
                                in the relational database. This design incorporates a linking mechanism that seamlessly 
                                integrates NGS data with other crucial components, specifically demographics and clinical 
                                information. This fusion establishes a foundation for HIVseqDB's capability to offer a 
                                comprehensive understanding of HIV drug resistance. It underscores the inherent connection 
                                between drug resistant variants derived from individual patient profiles and 
                                associated demographics and clinical history.
                            </p>
                            <p>
                                While the system has implemented security measures to safeguard the integrity and confidentiality 
                                of the stored data, a noteworthy aspect is the strong recommendation for users to deploy 
                                HIVseqDB in environments deemed sufficiently secure. The emphasis is on restricting access to 
                                authenticated users only, underlining a commitment to data security and privacy. 
                                This approach ensures that the application is utilized in contexts where the integrity of sensitive genetic and clinical information can be maintained at the highest standards.
                            </p>
                        
                        </div>
                        </div>
                    </div>
                    </div>                
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa fa-sliders" aria-hidden="true"></i>
                        &nbsp Data analysis</h4>
                    <p class="card-text">NGS-based HIVDR data is asynchronously analysed using state of the art tools. Results are given off in user friendly pages and exportable in various formats.</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#analysis">
                        More
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="analysis" tabindex="-1" role="dialog" aria-labelledby="analysis" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="analysis">Data analysis</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <Strong>Analysis:</Strong> Within HIVseqDB, the analysis of Next Generation Sequencing (NGS)-based drug resistance data is achieved through various tools tailored for distinct functionalities. Quasitools for quality control, reference mapping, and variant calling, sierralocal for drug resistance interpretation, specifically referencing the Stanford HIVdb. 
                                Python packages, including JSON, numpy, and pandas collectively enable efficient data manipulation and computation. 
                            </p>
                                <p> 
                                <Strong>Reporting:</Strong> Django HTML templates are used to generate HIV drug resistance reports. Data tables are used for displaying analysis results in interactive tables. Highcharts library is used to enhance the visual representation of results, providing an interactive platform for researchers to explore intricate patterns within the drug resistance data. 
                            </p>
                        </div>
                        </div>
                    </div>
                    </div>                
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa fa-server" aria-hidden="true"></i>
                        &nbsp Portability</h4>
                        <p class="card-text"> HIVseqDB can be deployed on different computing environments. It is distributed with guidelines for setting it up for 
                            on-prem and cloud-based compute solutions.</p>                    
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#portability">
                            More
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="portability" tabindex="-1" role="dialog" aria-labelledby="portability" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="portability">Portability</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <p>
                                    HIVseqDB achieves portability through Docker, utilizing Docker Compose for seamless deployment across diverse computing platforms. Docker Compose simplifies the orchestration of multiple containers, ensuring that the tool and its dependencies can be easily set up and run consistently on various systems. This approach enhances accessibility and flexibility, allowing users to deploy HIVseqDB with efficiency regardless of the underlying computing environment. 
                                </p>
                                <p> 
                                    In addition to containerization, HIVseqDB emphasizes openness by providing an open-source development version. This version, available for evaluation, enabling laboratories with advanced users to tailor HIVseqDB to their specific requirements.
                                </p>

                            </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
<br>  

{% endblock %}