{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>HIVsedDB | Advanced search</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
{% endblock %}
{% block content %}
<style>
* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 85%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 20px;
}

.container-search {
  background-color: #F8F8F8;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  width: 90%;
  margin: auto;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=date] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #2980b9;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 20%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #89CFF0;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

.analysis-header {
    height: 100px;
    width: 100%;
    border-radius: 0px;
    display: flex;
/*    align-items: center; */
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #E0E0E0; 
  /*  background-color:lightgrey; */

 }
 .icon {
     color: black;
     font-size: 40px;
     padding: 20px 20px 20px 20px;
     font-family: bold;
 }

</style>
<body>
<div class="row">
  <div class="col-75">   
    <div class="container-search">
        <div class="analysis-header">
            <div class="icon">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
                &nbsp Advanced search interface
            </div>
        </div> 
        <br><br>
      <form action="#">
        <div class="row">
          <div class="col-25">
            <div class="row">
              <div class="col-50">
                <label for="gender">Gender</label>
                <input type="text" id="gender" name="gender" placeholder="e.g Male">
              </div>
              <div class="col-50">
                <label for="region">Region</label>
                <input type="text" id="region" name="region" placeholder="e.g Central">
              </div>
                <div class="col-50">
                <label for="district">District</label>
                <input type="text" id="district" name="district" placeholder="e.g Kampala">
              </div>
              <div class="col-50">
                <label for="marital">Marital status</label>
                <input type="text" id="marital" name="marital" placeholder="e.g Single">
              </div><div class="col-50">
                <label for="education">Education</label>
                <input type="text" id="education" name="education" placeholder="e.g Primary">
              </div>
              <div class="col-50">
                <label for="religion">Religion</label>
                <input type="text" id="religion" name="religion" placeholder="e.g Anglican">
              </div>
                <div class="col-50">
                <label for="lab">County</label>
                <input type="text" id="lab" name="lab" placeholder="e.g Kawempe">
              </div>
              <div class="col-50">
                <label for="lab">Tribe</label>
                <input type="text" id="lab" name="lab" placeholder="e.g Muganda">
              </div>
            </div>
          </div>
  
        <div class="col-25">
            <div class="row">
              <div class="col-50">
                <label for="specimen">Gene</label>
                <input type="text" id="specimen" name="specimen" placeholder="PR, RT, IN">
              </div>
              <div class="col-50">
                <label for="lab">Sequencing technology</label>
                <input type="text" id="lab" name="lab" placeholder="Sanger, Illumina, PacBio">
              </div>
              <div class="col-50">
                <label for="lab">Sequencing date range</label>
              </div>
            </div>            
            <div class="row">
                <div class="col-50">
                <input type="date" id="low_regimen_date" name="low_regimen_date">
              </div>
                <div class="col-50">
                <input type="date" id="up_regimen_date" name="up_regimen_date">
              </div>
            
                <div class="col-50">
                <label for="lab">Regimen</label>
                <input type="text" id="lab" name="lab" placeholder="DTG">
              </div>
                <div class="col-50">
                <label for="lab">Drug class</label>
                <input type="text" id="lab" name="lab" placeholder="PI, NRTI, NNRTI, INSTI">
              </div>
            <div class="col-50">
                <label for="lab">ART start date range</label>
              </div>
            </div>
            <div class="row">
                <div class="col-50">
                <input type="date" id="low_regimen_date" name="low_regimen_date">
              </div>
                <div class="col-50">
                <input type="date" id="up_regimen_date" name="up_regimen_date">
              </div>
                
            </div>
          </div>
          
        </div>
          <div align="center">
        <input type="submit" value="Search" class="btn" align="center">
         </div>
      </form>
    </div>
  </div>
</div>
<br>
{% endblock %}