{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>HIVsedDB | New HIVDR analysis</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<style>
    .analysis-container {
        height: 100%;
        /* width: 90%; */
        border-radius: 5px;
        background-color:#F8F8F8; 
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .analysis-header {
    height: 100px;
    width: 100%;
    border-radius: 0px;
    display: flex;
/*    align-items: center; */
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(70,130,180); 
  /*  background-color:lightgrey; */

 }
 .icon {
     color: black;
     font-size: 40px;
     font-family: bold;
 }

 .scroll {
    overflow-y: scroll ;
    height: 370px;
    padding-bottom: 20px;
 }

 .params {
     margin: auto;
     align-items: center;
     /* width: 90%; */
     padding-top: 5%;
     padding-left: 20px;
 }
 
 label {
    color:black;
    font-weight: bold;
 }
 .asteriskField {
     color:red;
 }
 

</style>
{% endblock %}

{% block content %}
<div class="analysis-container">
<div class="analysis-header">
    <div class="icon">
        <i class="fa fa-play" aria-hidden="true"></i>
        &nbsp Create New Analysis 
    </div>
</div>

<div class="scroll">
    <div class="params">
        {% crispy form %}  
    </div>
</div>
</div>
<br>

{% endblock %}
